@font-face {
    font-family: 'ThaLeah';
    src: url('../ThaleahFat.ttf') format("truetype")
}

.home-container {
    /* background: black; */
    background: rgb(45, 46, 59);
    
    height: 100vh;
}

.home {
    height: 100%;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Thaleah;
    font-size: 32px;
}

.logo{
    scale: 2;
}