.button {
    color: antiquewhite;

    background-color: rgba(12, 17, 22, 0.644);
    width: 100px;
    border-radius: 5px;
    text-align: center;

    padding: 5px;
    margin: 3vh;


}

.holeImg{
    width: 100%;
    margin-top: -80px;
    margin-bottom: -100px;
}

.title{
    font-size: 48px;
    margin-top: 15px;

}
