.app {
  margin: 0;
  height: 100%;

  overflow:scroll
}

@font-face {
  font-family: 'ThaLeah';
  src: url('ThaleahFat.ttf') format("truetype")
}

.page{
  background-color: rgb(45, 46, 59);

  height: 90vh;
}